# URL base de la API (usada por Axios / httpClient)
# Si deseas usar el modo local con mock interno, deja vacío o usa http://localhost:8080
VITE_API_URL=http://localhost:8080

# Modo de la app (opcional): 'local' para datos mock, 'api' para conectar al backend
VITE_APP_MODE=local
